[submodule "src/support-tools"]
	path = src/support-tools
	url = https://github.com/rabbitmq/support-tools
[submodule "src/prometheus_process_collector"]
	path = src/prometheus_process_collector
	url = https://github.com/deadtrickster/prometheus_process_collector
