[submodule "src/support-tools"]
	path = src/support-tools
	url = https://github.com/rabbitmq/support-tools
[submodule "src/prometheus.erl"]
	path = src/prometheus.erl
	url = https://github.com/gerhard/prometheus.erl.git
