/.env
/.envrc
.python-version
/.blobs/
/.dev_builds/
/blobs/
/config/dev.yml
/config/private.yml
/dev_releases/
/rabbitmq-server-vars.yml
/manifest.yml
/deployment
*.tgz
*.sha1
/deployment_configurations/*
/tmp/
/otp/
