#!/bin/sh

if [ -r ../rabbitmq-credentials/gcp/.env ]
then
  PATH=../rabbitmq-credentials/gcp/bin:$PATH
  export PATH
  . ../rabbitmq-credentials/gcp/.env
fi

PATH=$PWD/script:$PWD/bin:$PATH
export PATH
